body {
    width: 100%;
    
}
#cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
#cont div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid gray;
    margin: 1%;
    background-color: rgb(245, 161, 241);
}
button{
    cursor: pointer;
}
form {
    border: 1px solid gray;
    padding: 2%;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}