<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>favorite page</title>
    <link rel="stylesheet" href="./style/style.css">
</head>
<body>
    <header>
        <h1>Digimon</h1>
        <nav>
            <ul>
                <li> <a href="/">Home Page</a> </li>
                <li> <a href="/fav">Favorite</a> </li>
                <li> <a href="/search">Search</a> </li>
            </ul>
        </nav>
    </header>
    <div id="cont">
        <% data.forEach(val =>{%>
            <div>
                <h2><%= val.name %></h2>
                <img src="<%= val.img%>" alt="digimon">
                <h3><%= val.level %></h3>
                <button> <a href="/detail/<%= val.id%>">detail</a> </button>
            </div>
    
        <% })%>

    </div>
    
</body>
</html>