<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>result Page</title>
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="./style/header.css">

</head>
<body>
  <%- include('header') %>
<div id="cont">
    <% data.forEach((val,id) =>{%>
        <div>
            <h2><%= val.name %></h2>
            <img src="<%= val.img%>" alt="digimon">
            <h3><%= val.level %></h3>
        </div>

    <% })%>
</div>
</body>
</html>