<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="./style/header.css">

</head>
<body>
   
    <%- include('header') %>
    <form action="/result" method="post">
    <input type="text" name="title">
    <label> <input type="radio" name="choose" value="name">name </label>
    <label> <input type="radio" name="choose" value="level">level </label>
    <button type="submit">search</button>
    </form>
    
</body>
</html>